<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="templates/bir.html">Ikromjon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="templates./about.html">About</a></div>
                <div><a href="templates./blog.html">Blog</a></div>
                <div><a href="/maqola/">Channel</a></div>
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>I am Ikromjon Ibrohimov, a 16-year-old <b>Software Engineer</b> from Fergana, Uzbekistan
                    <br>
                    <br>
                    <h5>Mening ismim Ikromjon.</h5>
                    <img src="C:\Users\acer\PycharmProjects\Blog\Blog\static\about\photo\odam1.jpg" alt="" style="width: 400px;">
                    <h5>DjangoBoys, Farg'ona</h5>
                    <p>Recently I experimented working standing and found it really useful to stay focused and a little healthier. I was able to transform my workstation with the books I read.</p>
                    <img src="about/photo/odam2.jpg" alt="" style="width: 400px;">
                    
                    <p>I am also known as <b>"clever programmer"</b>, very handy nature for programmers. I love repetitive tasks, I see them as an opportunity for automation. Also, whenever I am not working standing, you find me working laying on a sofa.</p>
                    <img src="about/photo/uy.jpg" alt="" style="width: 400px;">
                    <h5>GroundZero Qo'shtepa, Fergana</h5>
            </div>
        </div>
        <div class="footer">
            <p>© 2021 codial.uz</p>
        </div>
    </div>
</body>
</html>